<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>POG Viagens - Escolher Cidade</title>
</head>

<body>
    <section id="secaoEscolherCidadeDestino">
        <!--<img id="imagemCidade" src="../resources/images/imagemLoginCidade.png" alt="Deck">-->

        <h1 id="tituloPaginaCidade">Informe a sua&nbsp;<span>cidade</span>&nbsp;de destino</h1>

        <p id="textoSecaoCidade">Nessa parte, é importante que você informe a cidade que você irá se hospedar para que
            possamos procurar os melhores hotéis e pontos turíticos próximos.</p>

        <p id="textoEstado">Informe o Estado</p>
        <input type="text" id="inputEstado">

        <p id="textoCidade">Informe a Cidade</p>
        <input type="text" id="inputCidade">

        <input type="button" value="Confirmar" id="botaoConfirmarCidade">
    </section>
</body>

</html>