<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/escolherPontosTuristicos.js"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi5tPz-6LWThzqPIDeQysJOk8I2GuFK9U&callback=initMap&libraries=places">
    </script>
    <title>POG Viagens - Escolher Pontos Turísticos</title>
</head>

<body onload="buscarPontosTuristicos()">
    <section id="secaoEscolherPontosTuristicos">
        <div id="mapaPontosTuristicos"></div>

        <p id="textoEscolherPontosTuristicos">Selecione os pontos turísticos que você tem interesse e eles serão adicionados ao seu pacote</p>

        <p id="textoPularPontosTuristicos">Desejo pular esta opção</p>
        <input type="checkbox" class="checkboxPontosTuristicos" id="checkboxPontosTuristicos">

        <input type="button" value="Finalizar" id="botaoFinalizarPontosTuristicos" class="botao-desabilitado">
    </section>
</body>

</html>