<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>POG Viagens - Escolher Pontos Turísticos</title>
</head>

<body>
    <section id="secaoEscolherPontosTuristicos">
        <div id="mapaPontosTuristicos"></div>

        <p id="textoEscolherPontosTuristicos">Selecione os pontos turísticos que você tem interesse e eles serão adicionados ao seu pacote</p>

        <p id="textoPularPontosTuristicos">Desejo pular esta opção</p>
        <input type="checkbox" name="checkboxPontosTuristicos" class="checkboxPontosTuristicos">

        <input type="button" value="Finalizar" id="botaoFinalizarPontosTuristicos">
    </section>
</body>

</html>