<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>POG Viagens - Pacote Criado</title>
</head>

<body>
    <section id="secaoPacoteCriado">
        <h1 id="tituloPacoteCriado">Pacote criado com sucesso!</h1>

        <p id="textoPacoteCriado">Seu pacote foi criado e pode ser encontrado no seu perfil, ou <a href="" style="color: #F5B963;">clicando aqui</a>.<br><br>
            Antes de sair, aproveite para ver alguns pontos turísticos que recomendamos para sua viagem.</p>

            <input type="button" value="Continuar" id="botaoContinuarPacoteCriado">
    </section>
</body>

</html>