<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>POG Viagens</title>
</head>

<body>
    <section id="secaoPrincipal">
        <p id="tituloSecaoPrincipal">Venha fazer parte do <span style="color: #6BB39B; font-size: 44px;">POG</span>
            VIAGENS</p>
        <p id="textoSecaoPrincipal">Seu portal para explorar o mundo e desbravar novos <span
                style="color: #6BB39B; font-size: 24px;">horizontes</span></p>

        <input type="button" value="Começar" id="botaoComecar">
        <img id="imagemPrincipalLogo" src="../resources/images/ImagemLogo.png" alt="Logo POG Viagens">
    </section>
</body>

</html>